nav {
    display: flex;
    height: 10vh;
    width: 100%;
    background: whitesmoke;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
    line-height: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.8s;
    z-index: 10;
  }
  .logo img {
    width: 60px;
    margin-top: 10px;
    height: 60px;
  }
  #menu-icon {
    color: #6462d8;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li {
    margin: 0 5px;
  }
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  nav ul li a.active,
  nav ul li a:hover {
    color: #6462d8;
    background: #fff;
  }
  nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  

  /* media quary */
  
@media (max-width: 800px) {
    nav .menu-btn i {
      display: block;
    }
    #click:checked ~ .menu-btn i:before {
      content: "\f00d";
    }
    nav ul {
      position: fixed;
      top: 80px;
      left: -100%;
      background: whitesmoke;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul {
      left: 0;
    }
    nav ul li {
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a {
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a {
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
      background: none;
      color: black;
    }  
  }

  @media (min-width: 1000px) {
    nav {
      padding: 0 40px 0 50px;
    }
}